body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

p{
    padding: 5px;
 margin: 30px;
 height: auto;
 width: 60%;
}

header,footer{
    background-color: rgb(167, 195, 207);
    margin: 30px;
    height: auto;
    width: 60%;
}

.site-title{
    color: rgb(78, 43, 133);
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
    margin: 50px;
 height: auto;
 width: 60%;
}

h5{
    margin: 30px;
 height: auto;
 width: 60%;
}

ul{
    list-style-type: square;
    margin: 50px;
    height: auto;
    width: 30%;
}

li:nth-child(2n-1) {
    background-color: rgb(170, 101, 170);
}

a:link {
    margin: 50px;
    height: auto;
    width: 100%;
    text-decoration: none; 
    color:rgb(43, 38, 38);
    background-color: rgb(179, 156, 156);
    border-style: solid;
}
a:visited {
    color:rgb(12, 64, 105);
    background-color: rgb(149, 185, 214);
}

a:hover {
    color:rgb(43, 38, 38);
    background-color: rgb(179, 156, 156);
}   

a:focus {
    color: rgb(107, 90, 90);
}