/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~      DEFAULTS     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html{
    font-size: 8px;
    font-family: sans-serif;
}

.container{
    background-color: rgb(34, 34, 34);
}

p{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    padding-left: 1.5%;
    padding-right: 3%;
}

h1{
    color: white;
    font-size: 9.5vw;
}

h2{
    font-size: 6.5vw;
    font-weight: bold;
    padding: 1.5%;
    padding-top: 5%;
}

h3{
    font-size: 4.5vw;
    padding: 2%;
    padding-top: 5%;
    font-weight: bold;
}

h4{
    font-size: 3.5vw;
    font-weight: bold;
    border-bottom: 1px solid rgb(199, 140, 6);
    margin-left: 2%;
    margin-right: 2%;
}

.icon{
    padding: 1%;
    display: inline;
    color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~      NAV     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav{
    text-align: center;
    padding: 10px;
}

li{
    padding: 20px 0;
}

li:first-child{
    padding: 0pt;
}

a{
    text-decoration: none;
}

a:visited{
    color: rgb(199, 140, 6);
}

li:hover{
    background-color: rgb(199, 140, 6);
}


li:hover a{
    color: black;
}

#logo{
    text-align: left;
    background-color: rgb(199, 140, 6);
    height: 100%;
}

#stars{
    width: 15%;
}

#search{
    padding: 0px;
}

input{
    width: 100%;
    height: 30px;
}

li form{
    display: flex;
    justify-content: center;
}

#search:hover{
    background-color: rgb(34, 34, 34);
}

span{
    font-size: 2rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  MAIN BANNER     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-banner{
    display: block;
    height: 100%;
    position: relative;
    width: 100vw;
}

#main-image{
    display: block;
    position: relative;
    width: 100vw;
}

.main-text{
    position: absolute;
    background-color: rgba(34, 34, 34, 0.781);
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    padding-top: 7%;
    padding-bottom: 3%;
    width: 100vw;
}

.main-text p, h1{
    padding: 2%;
}

#button{
    display: block;
    font-size: 3vw;
    background-color: rgb(199, 140, 6);
    color: rgb(34, 34, 34);
    padding: 4%;
    margin: 2%;
    width: 25%;
}

#button .icon{
    color: black;
}

#button:hover{
    background-color: rgb(34, 34, 34);
    color: rgb(199, 140, 6);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  ABOUT US  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.about-us{
    background-color: rgb(255, 230, 172);
}

.about{
    width: 96%;
    margin: 0 auto;
    padding: 2%;
}

.about-us article p{
    color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}

.about-us article:nth-child(2){
    padding-bottom: 5%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  OUR SERVICES  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.our-services{
    background-color: white;
    padding: 3%;
}

.our-services h2{
    padding-left: 0.5%;
}

.service{
    width: 100%;
}

.box{
    background-color: rgb(255, 230, 172);
    margin-top: 3%;
}

.box p{
    color: black;
}

.buttons{
    display: inline-block;
    font-size: 2.5vw;
    padding: 4%;
    margin: 1.5%;
    background-color: rgb(34, 34, 34);
    text-align: center;
}

.buttons span{
    color: white;
    width: 100%;
}

.buttons:hover{
    background-color: rgb(199, 140, 6);
}

.buttons:hover span{
    color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  OUR VISION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.our-vision{
    height: 40vw;
    position: relative;
    overflow: hidden;
}

.our-vision img{
    width: 100%;
    transform: translate(0, -20%);
}

.our-vision article{
    padding: 2%;
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);

}

.our-vision article p{
    padding: 0 2%;
}

.our-vision article h3{
    color:white
}

#learn{
    padding: 5%;
    margin: 2%;
    text-align: center;
    color: white;
    font-size: 3vw;
    display: block;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.781);
    border: solid 1px rgb(199, 140, 6);
}

#learn:hover{
    background-color: rgb(199, 140, 6);
    color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  OUR TEAM  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.our-team{
    background-color: white;
}

.our-team img{
    width: 100vw;
}

.our-team div{
    background-color: rgb(255, 230, 172);

}

.our-team div p{
    color: black;
}

.john{
    margin-bottom: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  CONTACT US  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.contact-us{
    background-color: white;
}

.contact-us button{
    display: block;
}

.contact-us form{
    margin: 2%;
}

.contact-us label{
    display: block;
    font-size: 1.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
}

#fullname, #email, #message{
    width: 100%;
    height: 25px;
    border: 1px solid rgb(156, 156, 156);
    box-sizing: border-box;
}

#message{
    height: 100px;
}

.contact-us form button{
    margin-top: 2%;
    background-color: rgb(34, 34, 34) ;
    color: rgb(199, 140, 6);
    border: none;
    padding: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  TABLE  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table, th, td{
    border: 1px solid rgb(117, 117, 117);
    font-size: 1.5rem;
    padding: 2%;
}

th{
    background-color: rgb(255, 230, 172);
}

table{
    width: 96vw;
}

.table{
    padding: 2%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  LOCATION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

iframe{
    width: 96vw;
    padding: 2%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  FOOTER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.footer{
    padding-top: 2%;
}

.footer p{
    padding: 2%;
    color: rgb(199, 140, 6);
}

.footer p a{
    text-decoration: underline;
}