/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~      DEFAULTS / MOBILE STYLING    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    font-size: 8px;
    font-family: 'Open Sans', sans-serif;
}


.container{
    background-color: rgb(34, 34, 34);
    max-width: 1200px;
    margin: 0 auto;
}

p{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    padding-left: 1.5%;
    padding-right: 3%;
    font-weight: 200;
}

h1{
    color: white;
    font-size: 7.5rem;
    font-weight: bold;
}

h2{
    font-size: 5.5vw;
    font-weight: bold;
    padding: 1.5%;
    padding-top: 5%;
}

h3{
    font-size: 4.5vw;
    padding: 2%;
    padding-top: 5%;
    font-weight: bold;
}

h4{
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(199, 140, 6);
    margin-left: 2%;
    margin-right: 2%;
}

.icon{
    padding-left: 5%;
    color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~      NAV     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

nav{
    text-align: center;
    padding: 10px;
}

li{
    padding: 20px 0;
}

li:first-child{
    padding: 0pt;
}

a{
    text-decoration: none;
}

a:visited{
    color: rgb(199, 140, 6);
}

li:hover{
    background-color: rgb(199, 140, 6);
}


li:hover a{
    color: black;
}

#logo{
    text-align: left;
    background-color: rgb(199, 140, 6);
    height: 100%;
}


#search{
    padding: 0px;
}

nav li form button .icon{
    color: rgb(199, 140, 6);
}

nav li form button{
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(199, 140, 6);
}

input{
    width: 100%;
    height: 30px;
}

li form{
    display: flex;
    justify-content: center;
}

#search:hover{
    background-color: rgb(34, 34, 34);
}

span{
    font-size: 2rem;
    white-space: nowrap;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  MAIN BANNER     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-banner{
    display: block;
    height: 100%;
    position: relative;
    width: 100vw;
    max-width: 1200px;
}

#main-image{
    display: block;
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.main-text{
    position: absolute;
    background-color: rgba(34, 34, 34, 0.781);
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    padding-top: 7%;
    padding-bottom: 3%;
    width: 100%;
    max-width: 1200px;
    font-weight: 200;
}

.main-text p, h1{
    padding: 2%;
}

.main-text h1{
    font-size: 9vw;
}

.main-text p{
    font-size: 2vw;
}

#button{
    display: inline-block;
    background-color: rgb(199, 140, 6);
    color: rgb(34, 34, 34);
    padding: 4%;
    margin-left: 2%;
}

.main-text #button{
    font-size: 1.5vw;
    white-space: nowrap;
}

#button .icon{
    color: black;
}

#button:hover{
    background-color: rgb(34, 34, 34);
    color: rgb(199, 140, 6);
}

#button:hover .icon{
    color: rgb(199, 140, 6);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  ABOUT US  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.about-us{
    background-color: rgb(255, 230, 172);
}

.about{
    width: 97%;
    margin: 0 auto;
    padding: 1.5%;
}

.about-us article p{
    color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}

.about-us article:nth-child(2){
    padding-bottom: 5%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  OUR SERVICES  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.our-services{
    background-color: white;
    padding: 3%;
}

.our-services h2{
    padding-left: 0.5%;
}

.service{
    width: 100%;
}

.box{
    background-color: rgb(255, 230, 172);
    margin-top: 3%;
}

.box p{
    color: black;
}

.buttons{
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 4%;
    margin: 1.5%;
    white-space: nowrap;
    display: inline-block;
}

.buttons span{
    color: white;
    font-size: 1.5rem;
}

.buttons:hover{
    background-color: rgb(199, 140, 6);
}

.buttons:hover .icon{
    color: black;
}

.buttons:hover span{
    color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  OUR VISION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.our-vision{
    height: 40vw;
    position: relative;
    overflow: hidden;
}

.our-vision img{
    width: 100%;
    transform: translate(0, -20%);
}

.our-vision article{
    padding: 3%;
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);

}

.our-vision article p{
    padding: 0 2%;
    font-size: 1.5vw;
}

.our-vision article h3{
    color:white
}

#learn{
    padding: 4%;
    margin: 2%;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    display: block;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.781);
    border: solid 1px rgb(199, 140, 6);
}

#learn:hover .icon{
    color: black;
}

#learn:hover{
    background-color: rgb(199, 140, 6);
    color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  OUR TEAM  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.our-team{
    background-color: white;
    padding: 3%;
}

.our-team img{
    width: 100%;
}

.our-team div{
    background-color: rgb(255, 230, 172);

}

.our-team div p{
    color: black;
}

.john{
    margin-bottom: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  CONTACT US  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.contact-us{
    background-color: white;
}

.contact-us button{
    display: block;
}

.contact-us form{
    margin: 2%;
}

.contact-us label{
    display: block;
    font-size: 1.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
}

#fullname, #email, #message{
    width: 100%;
    height: 25px;
    border: 1px solid rgb(156, 156, 156);
    box-sizing: border-box;
}

#message{
    height: 100px;
}

.contact-us form button{
    margin-top: 2%;
    background-color: rgb(34, 34, 34) ;
    color: rgb(199, 140, 6);
    border: none;
    padding: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  TABLE  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table, th, td{
    border: 1px solid rgb(117, 117, 117);
    font-size: 1.5rem;
    padding: 2%;
}

th{
    background-color: rgb(255, 230, 172);
}

table{
    width: 100%;
}

.table{
    padding: 2%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  LOCATION  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

iframe{
    width: 96%;
    padding: 2%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  FOOTER  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.footer{
    padding-top: 2%;
}

.footer p{
    padding: 2%;
    color: rgb(199, 140, 6);
}

.footer p a{
    text-decoration: underline;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (min-width:760px){

    h2{
        font-size: 5rem;
    }

    h3{
        font-size: 4rem;
    }

    h4{
        font-size: 2.5rem;
    }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING / NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


    nav{
        background-color: rgb(34, 34, 34);
        padding: 20px;
    }

    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly ;
    }

    nav ul li{
        padding-left: 35px;
        padding-right: 35px;
    }
    

    nav ul li input{
        width: 15vw;
    }

    #logo{
        background-color: rgb(34, 34, 34);
    }

    #stars{
        width: auto;
    }

    nav li .icon{
        font-size: 2rem;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING / MAIN BANNER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .main-text{
        width: 86%;
        margin: 7%;
        top: 40%;
    }

    .main-text h1{
        width: 70%;
        line-height: 100%;
        font-size: 8rem;
    }

    .main-text p{
        font-size: 2rem;
        line-height: 20px;
    }

    .main-text #button{
        font-size: 3rem;
        padding: 3%;
    }

    .main-text #button .icon{
        font-size: 3.5srem;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING / ABOUT US ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


    .about-us div{
        display: flex;
        padding-left: 7%;
        padding-right: 7%;
    }

    .about-us .about{
        width: 50%;
    }

    .about-us div article p{
        font-size: 2rem;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING / OUR SERVICES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


    .box{
        margin: 2%;
        align-items: center;
    }

    .box h3{
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    .box .buttons{
        display: block;
        font-size: 2rem;
        margin: 3%;
    }


    .our-services .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 6fr 5fr;
        justify-content: center;
    }

    .our-services .grid:nth-child(1){
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        box-sizing: border-box;
    }

    .our-services .grid .box:nth-child(2){
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        box-sizing: border-box;
    }
    
    .our-services .grid .box:nth-child(3){
        grid-column: 4 / span 3;
        grid-row: 2 / span 1;
        box-sizing: border-box;
    }

    .our-services .grid .box:nth-child(4){
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        box-sizing: border-box;
    }

    .our-services .grid .box:nth-child(5){
        grid-column: 3 / span 2;
        grid-row: 3 / span 1;
        box-sizing: border-box;
    }

    .our-services .grid .box:nth-child(6){
        grid-column: 5 / span 2;
        grid-row: 3 / span 1;
        box-sizing: border-box;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING / OUR VISION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .our-vision{
        max-height: 400px;
    }

    .our-vision article p{
        font-size: 2.5rem;
    }

    #learn{
        font-size: 4rem;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING / OUR TEAM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .our-team article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 3fr;
    }

    .our-team article :nth-child(1){
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    .our-team article :nth-child(2){
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .john{
        margin: 0;
    }

    .our-team article :nth-child(3){
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .our-team article :nth-child(4){
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .our-team article p{
        font-size: 2.5rem;
        line-height: 100%;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  DESKTOP STYLING / CONTACT US ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .contact-us{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 600px 350px;
    }

    .contact-us :nth-child(1){
        grid-column: 1 / span 2;
    }

    .contact-us :nth-child(2){
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .contact-us :nth-child(3){
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }


}