/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* *********************************************************************
                            DEFAULTS
************************************************************************ */


/* adding main background colour and font styles, sizes */

html{
    font-size: 10px;
    color: black;
    background: #aad4cf;
    font-family: 'Quicksand', sans-serif;
}

/* *********************************************************************
                            MAIN
************************************************************************ */

/* I am targeting the all elements in the website with container div id to center them */

.container{
    width: 1049px;
    margin: 0 auto;
    background-color: rgb(209, 221, 219);
}

/* targeting the main image with big-image class to make it fit inside of the width of my container  */
/*  I added a class to my main image to avoid applying the same setting to my other small-image */

.big-image{
    width: 100%;
}

/* styling my main title of the page */

#site-title{
    color: white;
    height: 341px;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    padding-top: 210px;
    font-size: 6rem;
    font-weight: bold;
}


/* *********************************************************************
                            NAV
************************************************************************ */


nav{
    height: 48px;
}

nav li{
    float: left;
}

nav a{
    display: block;
    width: 349px;
}

nav li a span{
    float: left;
    font-size: 3.2rem;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
}

nav a :hover {
    background:#aad4cf;
}

.homepage{
    border-right: 1px solid black;
}

.contactpage{
    border-left: 1px solid black;
}

/* *********************************************************************
                            CONTENT
************************************************************************ */

h2{
    font-size: 3.2rem;
    font-weight: bold;
    padding-top: 40px;
    margin: 30px;
}

img{
    padding: 20px;
    width: 250px;
    float: left;
}

p{
    padding: 20px;
    margin: 20px;
    font-size: 1.8rem;
    line-height: 30px;
}

