/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* I added the css reset */
/* *********************************************************************
                            DEFAULTS
************************************************************************ */


/* adding main background colour, font style, root font size, and font colour. */

html{
    font-size: 10px;
    color: black;
    background: #aad4cf;
    font-family: 'Quicksand', sans-serif;
}

/* *********************************************************************
                            MAIN
************************************************************************ */

/* I am targeting the all elements in the website with container div id to center them  */

.container{
    width: 1049px;
    margin: 0 auto;
    background-color: rgb(209, 221, 219);
}

/* styling the main image and putting the site-title on top of it */

#header{
    color: white;
    height: 341px;
    position: relative;
}

h1{
    position: absolute;
    text-align: center;
    padding-top: 210px;
    width: 1049px;
    font-size: 6rem;
    font-weight: bold;
}

.cover-image{
    height: 341px;
    width: 1049px;
    padding: 0%;
}


/* *********************************************************************
                            NAV
************************************************************************ */

/* styling the navigator */

nav{
    height: 48px;
}

nav li{
    float: left;  /* to make navigation links sit next to each other */
}

nav a{
    display: block; /* to put navigation links into boxes */
    width: 349px;
}

nav li a span{
    float: left;
    font-size: 3.2rem;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
    color: black;
}

nav a :hover {
    background:#aad4cf;
}

.navlink{
    border-right: 1px solid black;
}


/* *********************************************************************
                            CONTENT
************************************************************************ */

/* styling the other elements on the page */

h2{
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 40px;
    margin: 10px 10px 30px 20px;
    padding-left: 20px;
}

img{
    padding: 20px 20px 20px 40px;
    width: 250px;
    float: left;  /* wrapping the text around the image*/
}

p, ol{
    padding: 30px;
    margin: 10px 10px 0px 10px;
    font-size: 1.8rem;
    line-height: 30px;
    list-style: square;
    list-style-position: inside;
}

form{
    border: 1px solid black;
    padding: 30px;
    margin: 40px 40px 0px 40px;
    font-size: 1.8rem;
    line-height: 30px;
}

h3, h4{
    padding: 30px 30px 0px 30px;
    font-size: 3.2rem;
    font-weight: bold;
    margin-left: 10px;
}

label, h5{
    margin: 25.5px;
}

.surwey{
    margin: 0;
    margin-left: 30.5px;
}

#fullname, #email, #message{
    display: block;
    width:850px;
    height: 30px;
    margin: 20px auto;
}

button{
    display: block;
    margin: 30px 30px 10px 25.5px;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
}

#message{
    height: 120px;
}

/* styling the footer */

footer{
    text-align: right;
    font-size: 1.5rem;
    height: 50px;
    padding: 10px;
}

/* styling the text inside the footer */

.footer{
    height: 50px;
    padding-top:17.5px;
}